.newEvent p, .newEvent input{
    margin-top: 0.1em;
    margin-bottom: 0.2em;
    font-family: 'Quantik';
}

.p_before_date-picker{
    display: inline-block;
    margin-right: 5%;
    color: rgb(104,150, 104);
}

.newEvent p{
    color: rgb(88, 124, 88);
}

.react-date-picker{
    margin-bottom: 1.5%;
    margin-right: 30%;
}

ul.multiple_select, .multiple_select ul, .multiple_select li{
    list-style-type: none;
    padding-inline-start: 0;
}

.multiple_select li{
    background-color: lightgray;
    padding:1px 2% 1px 2%;
    margin-bottom: 0.1em;
}

.multiple_select li p{
    color: rgb(25, 45, 82);
}

.multiple_select li.not-selected{
    -webkit-box-shadow: inset 0px 0px 5px 1px rgb(65, 73, 77);
    -moz-box-shadow: inset 0px 0px 5px 1px rgb(65, 73, 77);
    box-shadow: inset 0px 0px 5px 1px rgb(65, 73, 77);
}

.multiple_select li.selected{
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(83,191,65,1);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(83,191,65,1);
    box-shadow: inset 0px 0px 5px 1px rgba(83,191,65,1);
}

/*.newEvent input{
    margin: 0;
}*/

.multiple_select li, .multiple_select li>*{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.add_comp, .add_comp>* {
    display: inline-block;
}

.multiple_select{
    margin-block-start: 0.4em;
    margin-block-end: 0.35em;
}

.multiple_select li>*{
    display: inline;
    font-size: 0.75em;
    vertical-align: center;
}

.multiple_select li>input{
    margin-right: 4px;
}

.locations_ul>ul{
    display: inline-block;
    max-width: 31%;
    min-width: 31%;
    margin: 0px 2% 0px 2%;
    vertical-align: top;
}

.locations_ul>.regions>p{
    color: brown;
}

.locations_ul>.departement>p{
    color: yellow;
}

.locations_ul>.departement>p{
    color: yellowgreen;
}

.locations_ul>.regions>li{
    background-color: brown;
}

.locations_ul .departement li{
    background-color: yellow;
}

.locations_ul .villes li{
    background-color: greenyellow;
}

.add_comp{
    width: 100%;
}

.add_comp>*{
    margin-right: 2.5%;
}

.add_comp>.type_select{
    max-width: 26%;
}

.add_comp>.name_input{
    max-width: 45%;
    color: rgb(20, 57, 58);
}

.add_comp>.name_input::placeholder{
    color: rgb(59, 96, 97);
}

.add_comp>.name_input.error::placeholder{
    color: red;
}

.add_comp>.name_input.error{
    font-size: 0.75em;
}

.add_comp>button{
    max-width: 20%;
}
