@font-face {
  font-family: 'Hooked Up';
  src: url('../fonts/hooked-up-101/HookedUpOneOhOne-Regular.eot');
  src: url('../fonts/hooked-up-101/HookedUpOneOhOne-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/hooked-up-101/HookedUpOneOhOne-Regular.woff2') format('woff2'),
      url('../fonts/hooked-up-101/HookedUpOneOhOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quantik';
  src: url('../fonts/quantik/Quantik-Bold.eot');
  src: url('../fonts/quantik/Quantik-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/quantik/Quantik-Bold.woff2') format('woff2'),
      url('../fonts/quantik/Quantik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quantik';
  src: url('../fonts/quantik/Quantik-Regular.eot');
  src: url('../fonts/quantik/Quantik-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/quantik/Quantik-Regular.woff2') format('woff2'),
      url('../fonts/quantik/Quantik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.home{
  position: relative;
}

body>*, body>*>*{
  min-height: 100%;
}

.app{
  min-height: 667px;
}

.header{
  background-image : url('../images/rave_bg.jpg');
  padding: 15px 0px 15px 0px;
  background-size: cover;
}

.header h2{
  margin: 0;
  text-align: center;
  font-size: 5em;
  letter-spacing: 1.5px;
  font-family: 'Hooked Up';
  color: lightyellow;
}

.header h2:link, .header h2:visited{
  color: lightyellow;
}

.header_buts{
  position: absolute;
  right: 5px;
  top: 5px;
  max-width: 100px;
}

.header_buts>*{
  float: right;
  margin-right: 0;
  margin-left: auto;
}

.page_body{
  padding: 4% 2.5% 2.5% 2.5%;
  background-color: hsl(217, 48%, 18%);
  -moz-box-shadow: inset 0px 0px 32px 2px rgba(3,13,28,1);
  box-shadow: inset 0px 0px 32px 2px rgba(3,13,28,1);
  min-height: 100%;
}

.addEvent{
  z-index: 3;
  position: fixed;
  bottom: 2.5%;
  right: 2.5%;
  font-size: 1em;
  background-color: hsl(246, 72%, 39%);
  border-radius: 10px;
}

.addEvent_button:hover+.addEvent_text, .addEvent:hover>.addEvent_text{
  display: inline-block;
  margin-left: 6px;
  width: auto;
}

.addEvent p{
  margin: 0;
  margin-left: 2px;
  margin-right: 2px;
  /*float: right;*/
}

.addEvent_text{
  width: 0;
  display: none;
  transition: width 2s;
  color: lightyellow;
  vertical-align: super;
}

.addEvent_button{
  border-radius: 30px;
  border: solid 1px darkblue;
  background-color:  hsl(246, 83%, 30%);
  font-size: 2.3em;
  display: inline-block;
}

.page_body .display_error, .page_body .display_loading{
  display: block;
  margin: 2.5% 0 5% 0;
}

.page_body .display_error{
  color: red;
}

.page_body .display_loading{
  color: lightgoldenrodyellow;
}

.page_body .no_error,.page_body .no_loading{
  display: none;
}

/****************************** AddEvent.js ***************************/
/*
.newEvent{
  padding: 2.5%;
}
*/
